body {
  font-family: "Open Sans", sans-serif;
}
p {
  text-align: center;
}
input {
  text-align: center;
}
h2 {
  text-align: center;
}
.btn button {
  padding: 1em;
  font-size: 1.5em;
}
td {
  height: 1.5em;
  padding: 0.5em;
}
.btn {
}
th.name {
  width: 10px;
}
.container {
  position: relative;
}
.mytable {
}
input {
  width: 15rem;
  height: 3rem;
}
table button {
  width: 15rem;
  height: 3rem;
}
button:hover {
  color: white;
  background-color: rgb(21, 87, 21);
}
@media screen and (max-width: 600px) {
  input {
    width: 7.5rem;
    height: 3rem;
  }
  table button {
    width: 7.5rem;
    height: 3rem;
  }
}
