body {
  font-family: "Open Sans", sans-serif;
  background-size: 400% 400%;
}
p {
  text-align: center;
}
input {
  text-align: center;
}
#tr1,
#tr2,
#tr3,
#tr4,
#tr5,
#tr6,
#tr7,
#tr8,
#tr9,
#tr10 {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#tr1,
#tr2,
#tr3,
#tr4,
#tr5,
#tr6,
#tr7,
#tr8,
#tr9,
#tr10 input {
  margin: 5px;
  justify-content: center;
  justify-items: center;
}
#n1,
#p1,
#q1,
#t1,
#bt1,
#n2,
#p2,
#q2,
#t2,
#bt2,
#n3,
#p3,
#q3,
#t3,
#bt3,
#n4,
#p4,
#q4,
#t4,
#bt4,
#n5,
#p5,
#q5,
#t5,
#bt5,
#n6,
#p6,
#q6,
#t6,
#bt6,
#n7,
#p7,
#q7,
#t7,
#bt7,
#n8,
#p8,
#q8,
#t8,
#bt8,
#n9,
#p9,
#q9,
#t9,
#bt9,
#n10,
#p10,
#q10,
#bt10,
#t1 {
  width: 80%;
  margin: 5px;
}
h2 {
  text-align: center;
}
.btn button {
  padding: 1em;
  font-size: 1.5em;
  width: 20rem;
  height: 6rem;
}

.btn {
  display: block;
}
.container button {
  border-radius: 10px;
}
.btn button {
  border-radius: 20px;
}
input,
button {
  width: 15rem;
  height: 3rem;
  border-radius: 5px;
}
button:hover {
  color: white;
  background-color: rgba(0, 128, 0, 0.705);
}
#tl {
  display: inline;
  font-size: 2em;
}
input {
  border: 2px solid green;
  border-radius: 4px;
}
button {
  border: solid 2px green;
}
