body {
  font-family: "Open Sans", sans-serif;
}

.container {
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.container p {
  font-size: 1.2em;
}
head {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
}
header .logo {
  float: left;
}

p {
  text-align: center;
}
input {
  text-align: center;
}
.item {
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.item input {
  margin: 0.3rem;
  justify-content: center;
  justify-items: center;
}
.fullbox {
  margin: 5px;
}
.btnb {
  width: 80%;
  margin: 5px;
}
h2 {
  text-align: center;
}
.btn button {
  padding: 1em;
  font-size: 1.5em;
  width: 20rem;
  height: 6rem;
  width: 80%;
}

.btn {
  display: block;
}
.container button {
  border-radius: 10px;
}
.btn button {
  border-radius: 20px;
}
input,
button {
  width: 15rem;
  height: 3rem;
  border-radius: 5px;
}
button:hover {
  color: white;
  background-color: rgba(0, 128, 0, 0.705);
}
#tl {
  display: inline;
  font-size: 2em;
}
input {
  border: 2px solid green;
  border-radius: 4px;
}
button {
  border: solid 2px green;
}
.half1,
.half2,
.fullbox {
  display: inline;
  width: 20%;
}
.logo img {
  width: 100px;
  margin: 10px;
}
.pti {
  font-size: 2em;
}
#tr0 {
  display: none;
}
@media screen and (max-width: 700px) {
  .fullbox {
    width: 80%;
    margin: 5px;
  }
  .half1 {
    display: inline;
    width: 39.5%;
  }
  .half2 {
    width: 39.5%;
  }
}
@media print {
  .btn,
  .btnb {
    visibility: hidden;
  }
  #tr0 {
    display: block;
  }
}
